.vojav { 
  border-top-width: 22px;
  padding-top: 50px;
  margin-bottom: 12px;
  line-height: 83px;
  margin-bottom: 77px;
  margin-top: 69px;
  border-bottom-width: 84px;
  border-top-width: 23px;
}
